.post-form {
  &__image-input {
    display: none;
  }

  &__content {
    min-width: 30rem;
  }

  &__textarea {
    width: 100%;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.4rem;
    height: 20rem;

    &:focus{
      outline: 0;
    }
  }

  &__emoji-picker{
    position: absolute;
    z-index: 20;
    bottom: 5rem;
    transform: translateX(-50%);
  }
}

.uploaded_images {
  height: 30rem;
  width: 25rem;
  overflow-y: auto;
}
