@import "../../../sass/global";

.image-card {
  width: 25rem;
  height: 25rem;
  position: relative;
  cursor: pointer;

  @include respond(phone){
    width: 20rem;
    height: 20rem;
  }

  &__stats {
    @include absCenter;
    opacity: 0;
    color: white;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#303030, 0.7);
    opacity: 0;
    transition: 0.4s;
    border-radius: 10px;
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover &__stats{
      opacity: 1;
  }
}
