@import "../../sass/global";

.home {
  

  &__content {
    min-height: calc(100vh - 9rem);
    align-items: stretch;
  }

  @include respond(phone) {
    height: 100vh;
    overflow: auto;
    padding-bottom: 9rem;
  }
}
