.single-post {
  width: 80vw;
  padding: 2rem 0;
  margin: 0 auto;
  height: 100%;

  .content{
     height: 100%;

     &__details{
         border: 2px solid rgb(229, 229, 229);
     }
  }
}
.single-post{
  overflow: hidden;
}