.sidebar-secondary {
  margin: 2rem 3rem 2rem auto;

  .suggestion {
    &__see-all {
      font-weight: 500;
    }
  }
}

.profile-card {
  display: flex;
  align-items: center;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  gap: 1rem;
  text-transform: capitalize;
  width: 100%;

  p {
    line-height: 2.5rem;
    text-align: left;
  }

  button {
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      color: #1d4ed8;
    }
  }
}
