.post-form {
  &__image-input {
    display: none;
  }

  &__content{
    min-width: 30rem;
  }
}

.uploaded_images {
  height: 50vh;
  overflow-y: auto;
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 5px;
  justify-content: center;
}
